<ul> 
    <%- for article in @articles do %>
    <li>
        <strong><%= link_to article.title, read_path(article_id: article.id) %></strong>
        
        <small>
          pada  <%= article.created_at.to_s(:short) %>
          Oleh  <%= article.user.full_name %>
        </small>
        
    </li>
    <%- end %>
</ul>